/* Common class styles used across all app */
.h-flex {
    display: flex;
    flex-wrap: wrap;
}
.h-flex.jc {
    justify-content: center;
    
}
.h-flex.ac {
    align-items: center;
}
.h-flex.sb {
    
    justify-content: space-between;
   

    
}

.v-flex {
    display: flex;
    flex-wrap: wrap;
}
.v-flex.ac {
    align-items: center;
}
/**************************************/

/* App styles */
.app {
    text-align: center;
}

.app-header {
    background-color: #222;
    padding: 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    min-height: 150px;
}
.buttons{
    justify-content: space-between;
}
.srchbtn{

    cursor: pointer;
    border-radius: 2px;
    border-width: 3px;
    border-color: white;
    padding: 6px;
    background-color: yellow;
}
.srchbtn2{

    cursor: pointer;
    border-radius: 2px;
    border-width: 3px;
    border-color: white;
    margin-left: 5px;
    padding: 6px;
    background-color: red;
}

.search-input {
    width: 50%;
    margin: 0 20px;
    border-radius: 2px;
    border-width: 4px;
    border: none;
    padding: 6px;
}

.app-content {
    position: relative;
    margin-top: 190px;
    padding: 20px;
    background-color:blue;
    
  
}

.query {
    font-size: 10px;
    background: grey;
    padding: 4px;
    border-radius: 2px;
    margin: 0 5px;
}

.popup-container-enter.image-popup {
    opacity: 0;
}
.popup-container-enter.popup-container-enter-active.image-popup {
    opacity: 1;
    transition: all 0.4s ease-in-out;
}
.popup-container-leave {
    opacity: 1;
}
.popup-container-leave.popup-container-leave-active.image-popup {
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.image-popup-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup-image {
    cursor: pointer;
    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.8);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.8);
}

.image-item {
    cursor: pointer;
    animation: all 0.3s ease-in-out;
    margin: 4px;
    width: 400px;
    height: 400px;
    border-width: 6px;
    border-color: ivory;
}

.image-metadata {
    font-size: 13px;
    transition: all 0.3s ease-in-out;
    margin: 20px;
    color: #FFF;
}
